<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>аккаунт?</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
  </head>

  <body>

    <a href='create'  ><button>Создать нового пользователя</button></a>
    {% for i in Users %}
    <div style="background-color: rgb(244, 215, 177);">
      <h1>{{i.login}}</h1>
      <a href='read/{{i.id}}'  ><button>Подобнее</button></a>
      <a href='delete/{{i.id}}'  ><button>Удалить</button></a>
    </div>


    {% endfor %}

  </body>
</html>